{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stiwdio Dyfi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'siteapp/style.css' %}">
</head>
<body class="landing-body">
    <div class="landing-container">
        <h1>Stiwdio Dyfi</h1>
        <p>Choose your language / Dewiswch eich iaith</p>
        <div class="landing-buttons">
            <a href="/en/" class="btn">English</a>
            <a href="/cy/" class="btn">Cymraeg</a>
        </div>
    </div>
</body>
</html>
